<div id="<%= dom_id paciente %>">
  <p>
    <strong>Nombre:</strong>
    <%= paciente.nombre %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= paciente.apellidos %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= paciente.dni %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= paciente.telefono %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= paciente.direccion %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= paciente.email %>
  </p>

</div>
