<div id="<%= dom_id agenda %>">
  <p>
    <strong>Medico:</strong>
    <%= agenda.medico_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= agenda.fecha %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= agenda.hora_inicio %>
  </p>

  <p>
    <strong>Hora fin:</strong>
    <%= agenda.hora_fin %>
  </p>

  <p>
    <strong>Disponible:</strong>
    <%= agenda.disponible %>
  </p>

</div>
