<div id="<%= dom_id citum %>">
  <p>
    <strong>Paciente:</strong>
    <%= citum.paciente_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= citum.medico_id %>
  </p>

  <p>
    <strong>Consultorio:</strong>
    <%= citum.consultorio_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= citum.fecha %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= citum.hora %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= citum.motivo %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= citum.estado %>
  </p>

</div>
